[Desktop Entry]
Encoding=UTF-8
Name=tecsacoin
Comment=tecsacoin P2P Cryptocurrency
Comment[fr]=tecsacoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=tecsacoin, eşten eşe kriptografik sanal para birimi
Exec=tecsacoin-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/tecsacoin;
Categories=Office;Finance;
